#cheems, li, h1 {
    color: red;
    width: 500px;
    border: 1px solid black;
  }

#hmm {color: rgb(32, 68, 148); 
  }
  
  img[src="images/cheemsclose.jpeg"]:hover {
    border: 500px solid yellow;
  }

  html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: 'Major Mono Display', monospace; /* this should be the rest of the output you got from Google fonts */
  }
  
  h1 {
    font-size: 60px;
    text-align: center;
  }
  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

  html {
    background-color: #E9F40A;
  }
  
  body {
    width: 600px;
    margin: 0 auto;
    background-color: #a8b62c;
    padding: 20px 20px 20px 20px;
    border: 5px solid black;
  }
  
  h1 {
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 5px black;
  }
  
  img {
    display: block;
    margin: 0 auto;
  }
  